.edit-input-field-container {
    width: 34vw;
    max-width: 90%;
}

.edit-input-field {
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid #79F2D7;
    color: #79F2D7;
    background-color: transparent;
    margin-right: 1rem;
    width: 100%;
    max-width: 50%;
    word-wrap: break-word;
}

.edit-input-field:focus {
    outline: none;
    border: 2px solid #79F2D7;
    font-size: 1rem;
    font-weight: bold;
}

.edit-field-text {
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 1024px) {
    .edit-input-field:focus {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .edit-input-field:focus {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .edit-input-field:focus {
        font-size: 0.6rem;
    }
}
