.edit-input-field-container{
    width: 30vw;
}
.edit-input-field {
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid #79F2D7;
    color: #79F2D7;
    background-color: transparent;
    margin-right: 1rem;
    width: 100%;

}

.edit-input-field:focus {
    outline: none;
    border: 2px solid #79F2D7;
    font-size: 1.2rem;
    font-weight: bold;
}

.edit-field-text {
    font-family: 'Lato', sans-serif;
}