.task-add-container {
    background-color: #010c16;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 9999;
    margin-top: 10vh;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;


}

.task-add-input-field {
    align-self: stretch;
    background-color: transparent;
    border: 2px solid #79F2D7;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #79F2D7;
    flex-grow: 1;
    font-size: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    transition: box-shadow 0.2s ease-in-out;
}

.task-add-input-field::placeholder {
    color: #9b9b9b;
}

.task-add-input-field:focus {
    border: 2px solid #79F2D7;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
}

.task-add-button {
    background-color: transparent;
    border: 2px solid #79F2D7;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #79F2D7;
    font-size: 5vw;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease-in-out;
}

.task-add-button:hover {
    background-color: #79F2D7;
    color: #074638;
    cursor: pointer;
}
