.task-list-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #010C16;
}

.task-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 960px;
    padding: 1rem;
    background-color: #010c16;
    border-radius: 5px;
    border: 2px solid #79F2D7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    height: 100vh;
    width: 100vw;
}


.task-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    /*width: 600px;*/
    width: 90%; /*change this */
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
    /*background-color: #0A1A28;*/
    border-radius: 10px;
    border: 2px solid #79F2D7;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
}

.task-container:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.task-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.task-name {
    display: flex;
    color: #79F2D7;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    flex-grow: 1;
}

@media screen and (max-width: 1024px) {
    .task-name {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .task-name {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .task-name {
        font-size: 0.9rem;
    }
}


.task-buttons-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/*.react-toggle .react-toggle-track-check {*/
/*  background-color: #79F2D7;*/
/*}*/

/*.react-toggle .react-toggle--checked .react-toggle-track-check {*/
/*  color: yellow;*/
/*}*/

/*.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {*/
/*  background-color: #B8FFE1;*/
/*}*/


/*.task-edit-input-field::placeholder {*/
/*  color: #9b9b9b;*/
/*}*/
